<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./components/head'); %>
  <body class="my-body">
    <%- include('./components/navbar'); %>

    <div class="container">
      <br />
      <div class="card" id="form-pergunta">
        <div class="card-header"><h3>Realizar Pergunta</h3></div>
        <div class="card-body">
          <form action="/ask-a-question" method="POST">
            <label class="form-label">Título</label>
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Título"
              class="form-control"
            />

            <label class="form-label gap-top">Descrição</label>
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="10"
              placeholder="Descreva sua pergunta"
              class="form-control"
              rows="3"
            ></textarea>
            <br />
            <button class="btn btn-dark btn-lg gap-top">Perguntar</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./components/footer-scripts.ejs'); %>
    <script src="/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: "textarea",
        plugins: [
          "insertdatetime",
          "code",
          "link",
          "table",
          "lists",
          "help",
          "emoticons",
          "codesample",
          "anchor",
          "charmap",
        ],
        toolbar: [
          {
            name: "history",
            items: ["undo", "redo"],
          },
          {
            name: "styles",
            items: ["styleselect"],
          },
          {
            name: "formatting",
            items: ["bold", "italic"],
          },
          {
            name: "alignment",
            items: ["alignleft", "aligncenter", "alignright", "alignjustify"],
          },
          {
            name: "indentation",
            items: ["outdent", "indent"],
          },
          {
            name: "add-ons",
            items: [
              "codesample",
              "emoticons",
              "insertdatetime",
              "charmap",
              "link",
              "table",
              "lists",
              "anchor",
              "code",
              "help",
            ],
          },
        ],
        code_dialog_width: 300,
        width: "100%",
        height: 400,
        language: "pt_BR",
        branding: false,
        skin: "tinymce-5",
        codesample_global_prismjs: true,
        
        codesample_languages: [
          { text: "HTML/XML", value: "markup" },
          { text: "JavaScript", value: "javascript" },
          { text: "CSS", value: "css" },
          { text: "PHP", value: "php" },
          { text: "Ruby", value: "ruby" },
          { text: "Python", value: "python" },
          { text: "Java", value: "java" },
          { text: "C", value: "c" },
          { text: "C#", value: "csharp" },
          { text: "C++", value: "cpp" },
          { text: "Git", value: "git" },
          { text: "JSON", value: "json" },
        ],
      });
    </script>
  </body>
</html>
