<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./components/head'); %>
  <body class="my-body">
    <%- include('./components/navbar'); %>

    <div class="container">
      <br />
      <div class="card" id="form-pergunta">
        <div class="card-body">
          <form action="/ask-a-question" method="POST">
            <label class="form-label">Título</label>
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Título"
              class="form-control"
            />

            <label class="form-label gap-top">Descrição</label>
            <textarea
              name="description"
              id="description"
              cols="30"
              rows="10"
              placeholder="Descreva sua pergunta"
              class="form-control"
              rows="3"
            ></textarea>
            <br />
            <button class="btn btn-dark btn-lg gap-top">Perguntar</button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./components/footer-scripts.ejs'); %>
   <%- include('./components/tinymce-config.ejs'); %>
  </body>
</html>
