<!DOCTYPE html>
<html lang="pt-br">
  <%- include('./components/head'); %>
  <body>
    <%- include('./components/navbar'); %> <%-
    include('./components/footer-scripts.ejs'); %>
  </body>
</html>
