:root {
  --background-color-default: #eceff1;
}
body {
  background-color: var(--background-color-default);
}
main.container {
  min-height: 80vh;
}
#not-found-icon {
  font-size: 10rem;
  font-weight: bold;
  padding: 0.8rem 0;
  text-align: center;
}
#not-found-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
#not-found-text {
  max-width: 60vh;
  text-align: center;
  padding: 1.5rem 0;
}
#not-found-btns {
  display: flex;
  gap: 2;
  flex-wrap: wrap;
}

@media (max-width: 506px) {
  #not-found-btns {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
footer {
  position: static;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 3rem;
}
.footer-logo {
  width: 150px;
}
.logo {
  width: 200px;
}
.gap-default {
  margin: 0.8rem 0;
}
.gap-top {
  margin-top: 0.8rem;
}
.gap-top {
  margin-bottom: 0.8rem;
}

.card {
  border-radius: 0.8rem;
  border-color: var(--background-color-default);
}
.page-title {
  text-align: center;
  width: 65%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-description {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  max-height: 5rem;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.text-title {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
#form-pergunta {
  margin-top: 5vh;
  border-radius: 1rem;
  border-color: var(--background-color-default);
}
