<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="/image/logo.png" alt="Perguntas & Respostas"
  /></a>
  <a href="/ask-a-question" class="btn btn-outline-light">
    Fazer uma Pergunta
  </a>
</nav>
