<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark text-white d-flex justify-content-between p-3"
>
  <a class="navbar-brand" href="/">
    <img class="logo" src="/image/logo.png" alt="Perguntas & Respostas" />
  </a>

  <h2 class="page-title d-none d-lg-block"><%=title%></h2>
  <a href="/question/add" class="btn btn-outline-light">
    <i class="fa-solid fa-file-circle-question"></i> Fazer Pergunta
  </a>
</nav>

