<nav class="navbar navbar-dark bg-dark text-white p-3">
  <a class="navbar-brand" href="/">
    <img src="/image/logo.png" alt="Perguntas & Respostas" />
  </a>
  <h2 class="page-title"><%=title%></h2>
  <a href="/ask-a-question" class="btn btn-outline-light">
    Fazer uma Pergunta
  </a>
</nav>
